/* Base styles */
.logo {
  font-size: 18px;
  color: #1cc5cbf4;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.logo:hover::after {
  background-color: #5b1dd7;
}

.logo2 {
  vertical-align: middle;
  color: red;
}

.speedDial {
  position: fixed;
  right: -5vmax;
  top: 0.5vmax;
}

.speedDialIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.color:hover {
  color: rgb(17, 181, 210);
}

/* Responsive design for laptops */
@media screen and (max-width: 1200px) {
  .speedDial {
    top: 5vmax;
    right: -10vmax;
  }
}

/* Responsive design for mobile/desktop */
@media screen and (max-width: 900px) {
  .speedDial {
    top: 10px;
    right: 10px;
  }

  .speedDialIcon {
    width: 40px;
    height: 40px;
  }
}
